.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.card {
  margin: 0rem 0.2rem 1rem 0.2rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2rem;
}

#button {
  width: 200px;
  position: fixed;
  bottom: 2%;
  right: 3%;
  height: 45px;
  border-radius: 1rem;
  z-index: 998;
}

#button:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  background-color: black;
}