<app-navbar></app-navbar>
<div class="quiz_container">
    <h1>create a new quiz</h1>
    <form [formGroup]="quiz" (ngSubmit)="SendQuiz()">
    <div class="quiz_form">
            <div class="quiz_inputs_top">
                <div class="quiz_name">
                    <mat-form-field appearance="outline" class="name" >
                        <mat-label>Quiz name</mat-label>
                        <input matInput formControlName="title" placeholder="Escoja un título para su examen">
                        <a *ngIf="quiz.get('title')?.hasError('required') && quiz.get('title')?.touched"
                            style="color: tomato;">
                            Debe asigarle un título a su examen
                        </a>
                    </mat-form-field>
                </div>
                <div style=" display: flex;">
                    <mat-form-field appearance="outline" class="category" >
                        <mat-label>Category</mat-label>
                        <mat-select appearance="outline" formControlName="category">
                            <mat-option *ngFor="let c of categories" [value]="c.id">{{c.name}}</mat-option>
                        </mat-select>
                        <a *ngIf="quiz.get('category')?.hasError('required') && quiz.get('category')?.touched"
                            style="color: tomato;">
                            Escoja una categría</a>
                    </mat-form-field>
                </div>
            </div>
            <div style="display: flex;">
                <mat-form-field appearance="outline" class="description">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description"
                        placeholder="Escribe una descripción de tu examen (Máximo 200 palabras)"
                        maxlength="130"></textarea>
                    <a *ngIf="quiz.get('description')?.hasError('required') && quiz.get('description')?.touched"
                        style="color: tomato;">
                        Escriba una breve descripción</a>
                </mat-form-field>
            </div>
        </div>
    <div style="text-align: center;">
        <button class="back_button" mat-raised-button color="raised" routerLink="/dashboard">go back</button>
        <button class="next_button" mat-raised-button color="primary" type="submit" [disabled]="!quiz.valid">next</button>
    </div>
</form>
</div>