.quiz_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    justify-content: start;
    align-items: center;
}

.quiz_form {
    width: 60vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 2rem;
    background-color: #212121;
    margin-bottom: 1rem;
}

.quiz_inputs_top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz_name {
    display: flex;
    margin-right: 10px;
}

.next_button {
    width: 14rem;
    bottom: 5%;
    height: 2.6rem
}

.back_button {
    width: 14rem;
    bottom: 5%;
    height: 2.6rem
}

.name {
    width: 30vw;
}

.category {
    width: 20vw;
}

.description {
    width: 51vw;
    height: 30vh;
}

@media (max-width: 768px) {
    .quiz_form {
        width: 100vw;
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 0.5rem;
        background-color: #212121;
    }

    .quiz_inputs_top {
        display: inline;
        justify-content: center;
        align-items: center;
    }

    .name {
        width: 80vw;
    }

    .category {
        width: 80vw;
    }

    .description {
        width: 80vw;
    }
}