<app-navbar></app-navbar>
<h1>Editar Pregunta</h1>
<div class="question_container">
  <div class="question_text_container">
    <div style="margin-right: 5rem;"></div>
    <div>
      <mat-form-field style="width: 50vw;" appearance="outline">
        <textarea [(ngModel)]="question.name" matInput placeholder="Escribe aquí tu pregunta"></textarea>
      </mat-form-field>
    </div>
    <div style="margin-left: 30px;">
      <button mat-fab color="primary" aria-label="Agregar opción" (click)="OptionPush()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <div class="answer_container" *ngFor="let option of question.answers; let i = index">
    <section style="padding: 0px 1.2rem;">
      <mat-card-content style="padding: 0.3rem 1.2rem">
        <mat-radio-button (click)="CheckBoxStatusChanged(i)" [checked]="option.isTrue" color="primary"
          style="transform: scale(1.5);"></mat-radio-button>
        <span class="option_letter">{{i+1 | alphabet}}.</span><mat-form-field appearance="outline" style="width: 40vw;">
          <input [(ngModel)]="option.name" matInput placeholder="Escribe una opción de respuesta"></mat-form-field>
      </mat-card-content>
    </section>
    <button mat-fab color="warn" aria-label="eliminar respuesta" (click)="DropOption(i)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
<div style="text-align: center;">
  <button class="next_button" mat-raised-button color="primary" (click)="UpdateQuestion()">Guardar cambios</button>
</div>
<button (click)="GoBack()" id="back_button" mat-stroked-button color="basic">volver</button>
