.profile_container {
    display: flex;
    flex-direction: column;
}

.profile_header {
    background-color: #252525;
    height: 50vh;
}

.profile_header_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.example-card {
    width: 26rem;
    height: 16rem;

}

.info_user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 60px;
}

.avatar {
    display: flex;
    flex-direction: row;
}

.avatar_image {
    border-radius: 50%;
    width: 10rem;
    display: block;
}

.exams_actions_container {
    margin: auto 0px 0px auto;
    padding: 8px;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2rem;
}

.card {
    margin: 0rem 0.2rem 1rem 0.2rem;
}

img:hover {
    opacity: 0.5;
    cursor: pointer;
}