.example-card {
    max-width: 400px;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2rem;
}

.card {
    margin: 0 0 2rem 0;
}

img:hover {
    opacity: 0.5;
    cursor: pointer;
}