<div style="display: flex;  flex-direction: column;">
    <div style="background-color: #252525; height: 50vh;">
        <h1>Mi perfil</h1>
        <div style="display: flex; align-items: center; justify-content: center;">
            <div style="display: flex; flex-direction: row;">
                <div style="display: flex;flex-direction: column; align-items: start; margin-right: 60px;">
                    <span style="font-size: 50px;">Crixtoph</span>
                    <button mat-raised-button color="primary" style="width: 120px;">Cambiar contraseña</button>
                </div>
                <div class="avatar" style="display: flex; flex-direction: row;">
                    <img src="../../../assets/descarga.png" alt="bear avatar"
                        style="border-radius: 50%; width: 140px; display: block;">
                </div>
            </div>
        </div>
    </div>
    <div>
        <h2>Mis quizzes</h2>
        <div class="cards">
            <div *ngFor="let c of cards" class="card">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title-group>
                            <mat-card-title>Shiba Inu</mat-card-title>
                            <mat-card-subtitle>Extra large</mat-card-subtitle>
                            <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                        </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                        {{longText}}
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>