.next_button {
    width: 15rem;
    bottom: 5%;
    height: 4rem;
    font-size: 1.5rem;
    border-radius: 1rem;
}
#back_button {
    width: 150px;
    position: fixed;
    top: 12%;
    left: 0.8%;
    height: 45px;
    border-radius: 1rem;
    z-index: 999;
  }
  
  .next_button:hover {
    background-color: black;
  }