<body>
    <div class="form-login">
        <mat-icon style="font-size: 70px; width: 70px; height: 70px;">quiz</mat-icon><i>QuizApp</i>
        <h3>Login</h3>
        <form [formGroup]="login">
            <div ali>
                <input type="text" placeholder="Usuario" formControlName="user">
                <br>
                <span *ngIf="login.get('user')?.hasError('required') && login.get('user')?.touched">
                    El usuario es requerido
                </span>
            </div>
            <br>
            <div>
                <input type="password" placeholder="Contraseña" formControlName="pass">
                <br>
                <span *ngIf="login.get('pass').hasError('required') && login.get('pass')?.touched">La contraseña es
                    requerida</span>
            </div>
            <br>
            <div class="button">
                <input type="submit" value="Entrar">
            </div>
        </form>
        <br>
        <i class="create_account">Crar una cuenta</i>
    </div>
</body>